@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#main {
  text-align: center;
  color: darkblue;
  margin-top: 20px;
  text-shadow: 1px 1px 20px blue, 2px 2px 30px red;
  font-size: 1.7em;
}

strong {
  color: black;
  font-size: 38px;
}

p {
  margin: 10px;
  font-size: 1.3em;
}